.transacao-container {
    width: 100%;
    height: 95px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.35);
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.transacao-status {
    width: 10px;
    height: 100%;
    background-color: aqua;
    border-radius: 6px 0 0 6px;
}

.transacao-esquerda {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.transacao-info-principal {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.transacao-textos {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.transacao-titulo {
    margin: 0;
    font-size: 20px;
}

.transacao-descricao {
    margin: 0;
    font-size: 14px;
    color: #9D8383;
    white-space: normal;
    word-break: break-word;
}

.transacao-info-gerais {
    padding: 5px 10px 5px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.transacao-detalhes {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
