.login-ctn-pai{
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.login-painel-sub{
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-icone{
  background-color: rgb(255, 255, 255);
  width: 70px;
  height: 70px;
}
.login-painel-inf{
  background-color: rgb(255, 255, 255);
  height: 90%;
  width: 100%;
  border-radius: 150px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}
.login-painel-input{
  width: 80%;
  height: 80%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.login-painel{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 10px;
}
.login-input{
  width: 80%;
  height: 70px;
  padding: 10px;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.35);
  border-radius: 5px;
  border-bottom: solid 2px rgba(0, 0, 0, 0.589);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login-botao-entrar{
  background-color: black;
  color: white;
  border: none;
  width: 70%;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.35);
  font-size: 20px;
}
.login-label{
  color: #564E4E;
}
.login-input-discreto{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 20px;
    border: none;
    color: #564E4E;
}
.login-input-discreto:focus{
    outline: none;
    border-bottom:solid 1px black;
}
.login-painel-check{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}